@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
body {
overflow-x: hidden;
}

@layer base {
    Link{
        @apply w-fit
    }
    .text-green-500{
        @apply  ease-in duration-300
    }
    .menuNav{
        @apply w-fit text-green-500 ease-in duration-300
    }
    .menuNav:hover{
        @apply text-green-300 ease-in duration-300
    }
    .navbar-btn .navbar-arrow {
        @apply ease-in duration-300;
    }
    .navbar-btn:hover .navbar-arrow {
        @apply pl-5 ease-in duration-300;
    }
    .icolink{
        @apply text-green-500 ease-in duration-300
    }
    .icolink:hover{
        @apply text-green-300 ease-in duration-300
    }
    .btn {
        @apply text-green-50 border-2 border-green-500 rounded-full font-medium inline-block p-2 shadow-xl uppercase bg-green-500 ease-in duration-300;
    }
    .btn:hover {
        @apply text-green-100 shadow-sm ease-in duration-300 bg-green-300 border-green-300;
    }
    .btn-outline{
        @apply bg-transparent border-2 p-2 inline-block uppercase text-green-500 border-green-500 bg-none ease-in duration-300;
    }
    .btn-outline:hover{
        @apply bg-transparent border-green-100 text-green-100 bg-none ease-in duration-300;
    }
    .btn-sm {
        @apply h-[48px] px-2 text-sm;
    }
    .btn-lg {
        @apply h-[56px] px-10 text-base;
    }
    .btn-link {
        @apply text-base;
    }
    .btn-wpp{
        @apply text-green-500 border-green-400
    }
    .btn-wpp:hover{
        @apply bg-green-500 border-none ease-in duration-300
    }
    .home-banner-link p:hover{
        @apply mr-5 ease-in duration-300
    }
}